<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<!-- null값인 경우 null로 보여주도록 하는 셋팅 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭 등록
	<typeAliases>
		<typeAlias type=""/>
	</typeAliases>
	 -->
	 
	 <!-- mappers 에 mapper 파일들 등록 할 수 있다. -->
</configuration>
